body{
display: flex;
justify-content: center;
flex-direction: column;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 5vh;
  gap: 5vh;
}

#logo{
  width: 50vw
}

header nav{
  width: 90vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(66, 66, 66);
  border-radius: 20px;
}

header nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2vw;
}
header nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.8rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;   
  gap: 5vh;
  margin-bottom: 10vh;
}

main .container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 90vw;
  overflow: hidden;

  border-radius: 30px;
}

main .container img {
  display: flex;
  width: 90vw;

  filter: brightness(0.5);
}

main .container .info{
  width: 85vw;
  position: absolute;
}

main .container .info h1{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}

main .container .info p{
  color: white;
  width: 50vw;
}

main .row {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

main .row .card {
  width: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 2vw;
  padding-block: 2vh;
  gap: 2vh;

  border-radius: 30px;
  background-color: rgba(255, 233, 233, 0.849);
}

main .row .card h2{
  font-size: 2.15rem;
  font-weight: 800;
  margin-block: 4vh;
}

main .row .card .info{
  height: 34vh;
}

main .row .card .info p{
  width: 25vw;
  line-height: 4vh;
}

main .row .card .info a{
  color: blue;
}

main .row .card ul{
  list-style: none;
}


main .row .card img{
  width: 25vw;
  height: 16vw;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  width: 90vw;
  gap: 50vw;
  padding-bottom: 10vh;
  padding-inline: 4vw;
}

footer p {
  width: 30vw;
  text-align: right;
  padding: 1vh;
  
  border-top: 2px solid black;
}

footer img {
  width: 5vw;
}

